<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Opencart_Cart.Opencart_Cart_Listerners"></listener> 
</listeners>   
    
  <test  name="Quantity Test">  
    <classes>  
            <class name = "Opencart_Cart.Cart_BaseTest_ExtentReports">    
              <methods>    
           <include name="addMackbook_to_cart"></include>   
            <include name="AddMackbook_to_cart2"></include>
              </methods>   
          </class>  
    </classes>    
      </test> <!-- Test -->  
     
</suite> <!-- Suite --> 
